        <ul id="mainnav">
            <li>
                <a href="/post/">
                <span class="icon"> <i aria-hidden="true" class="icon-quill"></i></span>
                <span> blog </span>
            </a>
            </li>
            <li>
                <a href="/project/">
                    <span class="icon"> <i aria-hidden="true" class="icon-console"></i></span>
                    <span> code </span>
                </a>
            </li>
            <li>
            <a href="/lifestyle/">
                <span class="icon"> <i aria-hidden="true" class="icon-console"></i></span>
                <span> lifestyle </span>
            </a>
            </li>
            <li>
            <a href="/about">
                <span class="icon"> <i aria-hidden="true" class="icon-13"></i></span>
                <span> me </span>
            </a>
            </li>
            <li>
            <a href="/topics">
                <span class="icon"> <i aria-hidden="true" class="icon-13"></i></span>
                <span> topics </span>
            </a>
            </li>
            <li>
            <a href="/tags">
                <span class="icon"> <i aria-hidden="true" class="icon-13"></i></span>
                <span> tags </span>
            </a>
            </li>
        </ul>
